
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#header{
    display:flex;
    background-color: white;
    justify-content: center;
    margin: auto;
    width: 44.2vw;
    border-bottom: 0px;
    padding-bottom: 0;
}
button {
    margin: auto;
    margin-top: 5px;
    height: 30px;
    width: 70px;

}
#footer {
    display: flex;
    justify-content: center;
    margin: auto;
}
button:hover {
    transform: scale(1.1);
    background-color: white;
    color:  #78d0aa;
    border: 1px solid  #78d0aa;
}
#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 40vw;
    height: 40vw;
    margin: auto;
    margin-top: 0;

    border: 2px solid black;

    
    
}

.grid-item {
    background-color: white;
    border: 1px solid #78d0aa ;
    
}

